@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

:root {
    --background-color: #0c151c;
    /*Cor padrão do fundo*/
    --search-bar: #3A3D42;
    /*Cor da barra de pesquisa da navbar*/
    --selected-text-color: #ffffff;
    /*Cor das páginas selecionads e dos textos/titulos das paginas*/
    --navbar-color: #292D32;
    /*Cor da navbar*/
    --non-selected-color: #8A8D91;
    /*Cor das páginas não selecionadas na nav bar*/
    --button-color: #2597F5;
    /*Cor dos botões padroes do site*/
    --card-color: #080f14;
    /*#091016;*/
    /*Cor dos cards do site*/
    --star-color: #FFE943;
    /*Cor das estrelas de avaliação*/
    --button-login-color: #303E48;
    /*Cor dos botões de login e cadastro*/
    --disc-color: #AEB5FF;
    --insta-color: #FF96B9;
    --twitter-color: #212121;
    --twitch-color: #D2B3FF;
}

body {
    position: relative;

    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    min-height: 100vh;
}

h1 {
    color: var(--selected-text-color);
    font-weight: 400;
    font-size: 2rem;
}

/*rodapé - footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-color);
    color: var(--selected-text-color);
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 8rem;
    padding: 2rem;



    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img {
            height: 1.8rem;
            width: auto;
        }


        .insta,
        .disc,
        .twitter,
        .twitch {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .insta:hover,
        .disc:hover,
        .twitter:hover,
        .twitch:hover {
            transform: scale(110%);
            transition: 0.5s;
        }

        .insta {
            background-color: var(--insta-color);
        }

        .disc {
            background-color: var(--disc-color);
        }

        .twitter {
            background-color: var(--twitter-color);
        }

        .twitch {
            background-color: var(--twitch-color);
        }
    }
}


/*navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    position: sticky;
    top: 8px;

    margin: 0 auto;

    background-color: var(--navbar-color);

    width: 99%;
    height: 4rem;

    border-radius: 10px;
    padding: 10px 20px;

    z-index: 9;

    .deslogado {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 99%;

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        li {
            max-height: 2.5rem;
        }

        img {
            max-width: 2.3rem;
            height: auto;
            margin-right: 2rem;
        }

        button {
            height: 2.5rem;
            width: auto;
            padding: 0px 20px;
            background-color: var(--button-color);
            border-radius: 7px;
            font-size: 1rem;
            cursor: pointer;
            color: white;
            font-weight: 600;
        }

        button:hover {
            background-color: #248add;
            transform: scale(101.5%);
            transform: 3s;
        }

        a {
            color: var(--non-selected-color);
            transition: 0.3s;
            font-size: 1.3rem;
            font-weight: 600;
        }

        a:hover {
            color: var(--selected-text-color);
        }

        /*barra de pesquisa*/
        .search-bar {
            display: flex;
            align-items: center;

        }

        .search-bar input[type="search"] {
            background-color: rgba(128, 128, 128, 0.2);
            padding: 8px;
            border-radius: 20px;
            border: none;
            width: 350px;
            font-size: 1rem;
            color: white;
        }
    }

    .logadoM {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 99%;

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        li {
            max-height: 2.5rem;
        }

        img {
            max-width: 2.3rem;
            height: auto;
            margin-right: 2rem;
        }

        .left {
            display: flex;
            align-items: center;
        }

        button {
            height: 2.5rem;
            width: auto;
            padding: 0px 20px;
            background-color: var(--button-color);
            border-radius: 7px;
            font-size: 1rem;
            cursor: pointer;
            color: white;
            font-weight: 600;
        }

        button:hover {
            background-color: #248add;
            transform: scale(101.5%);
            transform: 3s;
        }

        a {
            color: var(--non-selected-color);
            transition: 0.3s;
            font-size: 1.3rem;
            font-weight: 600;
        }

        a:hover {
            color: var(--selected-text-color);
        }

        .search-bar {
            display: flex;
            align-items: center;

        }

        .search-bar input[type="search"] {
            background-color: rgba(128, 128, 128, 0.2);
            padding: 8px;
            border-radius: 20px;
            border: none;
            width: 350px;
            font-size: 1rem;
            color: white;
        }

        #user-button>button {
            background-color: transparent;
        }

        .carrinho {
            height: 2rem;
            width: auto;
        }

        /* .avatarImage>img {
            max-width: 4rem;
            height: auto;
            margin-right: 2rem;
        } */
    }

    .logadoA {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 99%;

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        li {
            max-height: 2.5rem;
        }

        img {
            max-width: 2.3rem;
            height: auto;
            margin-right: 2rem;
        }

        button {
            height: 2.5rem;
            width: auto;
            padding: 0px 20px;
            background-color: var(--button-color);
            border-radius: 7px;
            font-size: 1rem;
            cursor: pointer;
            color: white;
            font-weight: 600;
        }

        button:hover {
            background-color: #248add;
            transform: scale(101.5%);
            transform: 3s;
        }

        a {
            color: var(--non-selected-color);
            transition: 0.3s;
            font-size: 1.3rem;
            font-weight: 600;
        }

        a:hover {
            color: var(--selected-text-color);
        }

        /*barra de pesquisa*/
        .search-bar {
            display: flex;
            align-items: center;

        }

        .search-bar input[type="search"] {
            background-color: rgba(128, 128, 128, 0.2);
            padding: 8px;
            border-radius: 20px;
            border: none;
            width: 350px;
            font-size: 1rem;
            color: white;
        }

        #user-button>button {
            background-color: transparent;
        }

    }

}

/*botes slider*/

.swiper-navBtn {
    color: #ffffff;
    transition: color 0.3s ease;

}

.swiper-navBtn:hover {
    color: #dddddd;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

/*paginação slider*/
.swiper-pagination-bullet {
    background-color: #bbbbbb;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
}

/* Estilos para o componente de seleção múltipla (tags) */

.multiselect-container {
    position: relative;
    font-size: 1rem;
    cursor: pointer;
}

.multiselect-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40px;
    /* Altura do input normal */
    padding: 5px 10px;
    border: 1px solid var(--non-selected-color);
    /* Borda equivalente à dos inputs */
    border-radius: 5px;
    background-color: var(--card-color);
    /* Fundo equivalente à dos inputs */
    gap: 8px;
    /* Aumentei o espaçamento entre as tags */
}

.multiselect-tags.placeholder {
    color: var(--non-selected-color);
    /* Cor para o texto "Clique para adicionar..." */
    font-style: italic;
    font-size: 1rem;
}

.multiselect-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 12px;
    background-color: var(--button-color);
    /* Cor de destaque para as tags */
    color: var(--selected-text-color);
    border-radius: 20px;
    font-size: 0.9rem;
}

.tag-close {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s ease;
}

.tag-close:hover {
    color: var(--selected-text-color);
}

.multiselect-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--card-color);
    /* Fundo equivalente aos inputs */
    border: 1px solid var(--non-selected-color);
    /* Borda equivalente aos inputs */
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.multiselect-dropdown.hidden {
    display: none;
}

.multiselect-option {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: var(--selected-text-color);
    /* Texto das opções com a cor padrão */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.multiselect-option:hover {
    background-color: var(--navbar-color);
    /* Cor de hover equivalente à navbar */
    color: var(--selected-text-color);
}

.multiselect-option.selected {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 9998;
}

.add-game-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--navbar-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     z-index: 9999;
    max-width: 600px;
    width: 90%;
    color: var(--selected-text-color);

    max-height: 90vh;
    overflow-y: auto;

    h4 {
        margin: 1rem 0;
    }
}

.modal-content h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.modal-content .close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    background: none;
    border: none;
    color: var(--non-selected-color);
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.modal-content .close-modal-btn:hover {
    color: var(--selected-text-color);
}

.modal-content .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid var(--non-selected-color);
    background-color: var(--card-color);
    color: var(--selected-text-color);
    font-size: 1rem;
    resize: vertical;
}

/* Estilos para o grupo de botões */
.modal-content .form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
}

.modal-content .form-buttons button {
    width: 50%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content .submit-btn {
    background-color: var(--button-color);
    color: white;
    border: none;
    /* Remove a borda padrão do tipo submit */
}

.modal-content .submit-btn:hover {
    background-color: #248add;
    transform: scale(101.5%);
    transform: 3s;
}

.modal-content .clear-btn {
    background-color: var(--card-color);
    color: var(--selected-text-color);
    border: 1px solid var(--non-selected-color);
}

.modal-content .clear-btn:hover {
    background-color: #303e48;
}

/* Estilo para a caixa de mensagem */
.custom-message-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Garante que fique por cima de outros elementos */
}

/* Estilo para o conteúdo da mensagem */
.modal-content-message {
    background-color: var(--navbar-color);
    /* Cor de fundo escura, similar ao seu tema */
    color: #ffffff;
    /* Cor do texto branca */
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    position: relative;
    border: 1px solid #444;
}

/* Estilo para o botão de fechar */
.close-message-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    color: var(--button-color);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-message-btn:hover {
    color: #0a6dbe;
}

/* Estilo para o parágrafo da mensagem */
.modal-content-message p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.media-preview-container {
    img {
        width: 100%;
        height: auto;
    }

    p {
        max-width: 100%;
        overflow-wrap: break-word;
    }
}

/* Container que irá segurar as duas camadas de estrelas */
.estrelas-container {
    position: relative;
    display: flex;
    font-size: 1.2rem;
    white-space: nowrap;
    width: max-content;
}

/* Camada de estrelas de fundo (sempre cheia e cinza) */
.estrelas-container .star-empty {
    color: var(--non-selected-color);
}

/* Camada de estrelas preenchidas (amarelas) */
.estrelas-container .star-filled {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--star-color);
    overflow: hidden;
    white-space: nowrap;
}

.preco-original-riscado {
    color: var(--non-selected-color);
    text-decoration: line-through;
    font-size: .9rem;
}

#preco .preco-original-riscado {
    color: var(--non-selected-color);
    text-decoration: line-through;
    margin-right: 0.75rem;
    font-size: 1.5rem;
}

.preco-desconto {
    color:white;
    font-weight: bold;
}

.desconto-tag {
    background-color: var(--button-color);
    padding: 2px 4px;
    border-radius: 1rem;
    font-size: 1rem;
}

#preco .desconto-tag {
    background-color: var(--button-color);
    padding: 2px 4px;
    border-radius: 1rem;
}

