*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --background-color: #0c151c;
    --search-bar: #3A3D42;
    --selected-text-color: #ffffff;  /*Cor das páginas selecionads e dos textos/titulos das paginas*/
    --navbar-color: #292D32;
    --non-selected-color: #8A8D91; /*Cor das páginas não selecionadas na nav bar*/
    --button-color: #2597F5;
    --card-color: #091016;
    --star-color: #FFE943;
}

body{
    background-color: aliceblue;
}

