@import "general.css";


nav {
    background-color: #292D32;

    width: 99%;
    height: 40px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;

    align-items: center;
    gap: 64px;
    flex-wrap: nowrap;
}

ul {
    justify-content: flex-start;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
}

li {
    color: var(--non-selected-color);
    font-size: medium;
    transition: 0.3s;

    font-size: 1.1rem;
}

li:hover {
    color: var(--selected-text-color);
}


.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 200px;
    max-width: 250px;
    height: 30px;
}

.gallery_container {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 5px;
    margin: 50px auto;
    gap: 15px;
}

.image_container {
    flex-direction: column;
    display: flex;
    max-width: 250px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    margin: 50px auto;
    gap: 15px;
}

.main-image-display {
    position: relative;
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image-display img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}