@import "general.css";

.card_login {
   
    width: 70%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;
    background-image: radial-gradient(circle at left, #13212c 40%, #ffffff00 100%), url('../../assets/imagens/fundo-login.jpg');
    background-size: cover;

    padding: 40px;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 64px;
    }

    li {
        color: var(--non-selected-color);
        font-size: medium; 
        transition: 0.3s;

        font-size: 1.1rem;
    }
    li:hover{
        color: var(--selected-text-color);
    }

    h1 {
        color: white;
        font-size: 4rem;  
        margin-top: 60px;
    }

    form{
        margin-top: 60px;

        display: flex;
        flex-direction: column;

        
    }
    
    label{
        color: white;
        font-size: 1.2rem;
    }

    input{
        max-width: 25%;
        height: 40px;
         
        border-radius: 12px;

        font-size: 1rem;

        margin: 0px 0px 35px 0px;
    }

    input[type=button]{
        background-color: var(--button-color);

        max-width: 15%;

        margin: 0px 0px 60px 0px;
    }
}