@import "general.css";


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;

    margin: auto;
    margin-top: 8px;

    background-color: var(--navbar-color);

    width: 99%;
    height: 3rem;

    border-radius: 10px;
    padding: 10px 20px;
}

li {
    color: var(--non-selected-color);
    font-size: small;
    transition: 0.3s;

    font-size: 1.1rem;
}

li:hover {
    color: var(--selected-text-color);
}


.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 200px;
    max-width: 250px;
    height: 30px;
}



.carrosel{
    display: flex;
    justify-content: space-between;

    .carrosel_main_image{
        position: absolute;
        width: 40%; 
        height: 65%; 
        background-color: aqua;
        border-radius: 15px; 
        margin: 5% 0 0 10% ;
    }
    
    .right_side{
        display: flex;
        flex-direction: column;
        
    
        .carrosel_side_image1{
            position: absolute;
            width: 30%; 
            height: 18%; 
            background-color: aqua;
            border-radius: 15px;
            margin-top: 8%;
        }
        
        .carrosel_side_image2{
            position: absolute;
            width: 30%; 
            height: 18%; 
            background-color: rgb(0, 255, 98);
            border-radius: 15px;
            margin-top: 18%;
        }
        
        .carrosel_side_image3{
            position: absolute;
            width: 30%; 
            height: 18%; 
            background-color: rgb(54, 15, 8);
            border-radius: 15px;
            margin-top: 28%;
        }
    }
}


