@import "general.css";

/*nav bar*/
h1{
        color: var(--selected-text-color);
        font-weight: 400;
        font-size: 2rem;
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    margin: auto;
    margin-top: 8px;

    background-color: var(--navbar-color);

    width: 99%;
    height: 4rem;

    border-radius: 10px;
    padding: 10px 20px;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav img {
    max-width: 2.3rem;
    margin-right: 2rem;
}

nav button {
    height: 2.5rem;
    width: auto;
    padding: 0px 20px;
    background-color: var(--button-color);
    border-radius: 7px;
    font-size: 1rem;
}

li {
    color: var(--non-selected-color);
    transition: 0.3s;
    font-size: 1.3rem;
    font-weight: 600;
}

li:hover {
    color: var(--selected-text-color);
}


.search-bar {
    display: flex;
    align-items: center;

}

.search-bar input[type="search"] {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 350px;
    font-size: 1rem;
    color: white;
}


/*carrosel*/
.carrosel {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 36rem;
    margin: 5rem auto;

    .carrosel_main_image {
        width: 64rem;
        height: 36rem;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
    }

    .right_side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .carrosel_side_image {
            width: 24rem;
            height: 18rem;
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
        }
    }
}

/*card normais*/
.cards_principais{
    display: flex;
    flex-direction: column;
    max-width: 89rem;
    margin: 5rem auto;
    gap: 1rem;


    .card_jogos{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2.5625rem;
        overflow-x: auto;
        
    
        .card_jogo{
            width: 15.75rem;
            height: 28rem;
            background-color:   var(--card-color);  
            color: white;
            font-weight: bold;
            border-radius: 20px;
            gap: 8px;
            padding: 8px;
            display: flex;
            flex-direction: column;

            .preco{
                display: flex;
                gap: 16px;

                .promocao{
                    color: var(--non-selected-color);
                    text-decoration: line-through;
                }
            }

            .estrelas{
                color: var(--star-color);
            }
        

            .capa_card{
                width: auto;
                height: 20rem;

                background-image: url('../assets/imagens/God_of_War_Ragnarök_capa.jpg') ;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                border-radius: 20px;
            }
        }
        
    }
}

/*card jogos gratis*/
.gratis{
    display: flex;
    flex-direction: column;
    max-width: 89rem;
    margin: 5rem auto;
    gap: 1rem;

    .card_jogos{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2.5625rem;
        overflow-x: auto;
        
    
        .card_jogo{
            width: 44rem;
            height: 44.375rem;
            background-color:  var(--card-color);  
            color: rgb(255, 255, 255);
            font-weight: bold;
            border-radius: 20px;
            gap: 8px;
            display: flex;
            flex-direction: column;

            .capa_card{
                flex-shrink: 0;

                width: auto;
                height: 20rem;

                background-image: url('../assets/imagens/god_of_war_ragnarok.avif') ;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                border-radius: 20px;
            }
            .estrelas{
                color: var(--star-color);
                font-size: 2rem;
            }    
            
            .info_card_gratis{
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 16px;
            }

            .titulo_jogo{
                font-size: 2.5rem;
                font-weight: bolder;
            }

            .info_jogo{
                color: var(--non-selected-color);
                font-weight: 500;
            }

            .bottom_side{
                display: flex;
                flex-direction: column;
                margin-top: auto;
            } 

            button{
                width: 10rem;
                height: 3rem;
                background-color: var(--button-color);
                color: white;
                font-size: 1.2rem;
                font-weight: bold;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    background-color: #1f7ed8; /* Cor mais clara ao passar o mouse */
                }
            }
        }
        
    }
}

.jogos_nacionais{
    display: flex;
    flex-direction: column;
    max-width: 89rem;
    margin: 5rem auto;
    gap: 1rem;

    .card_jogos{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        overflow-x: auto;

        .capa_nacional{
            width: 29rem;
            height: 29rem;
            background-image: url('../assets/imagens/god_of_war_ragnarok.avif');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            border-radius: 20px;
        }
    }
}