@import "general.css";

/*nav bar*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    margin: auto;
    margin-top: 8px;

    background-color: var(--navbar-color);

    width: 99%;
    height: 3rem;

    border-radius: 10px;
    padding: 10px 20px;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav img {
    max-width: 1.5rem;
}

nav button {
    height: 2rem;
    width: auto;
    padding: 0px 20px;
    background-color: var(--button-color);
    border-radius: 7px;
    font-size: 1rem;
}

li {
    color: var(--non-selected-color);
    font-size: small;
    transition: 0.3s;

    font-size: 1.1rem;
}

li:hover {
    color: var(--selected-text-color);
}


.search-bar {
    display: flex;
    align-items: center;
    height: 2rem;
}

.search-bar input[type="search"] {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 30px;
}


/*carrosel*/
.carrosel {
    display: flex;
    justify-content: space-between;

    .carrosel_main_image {
        position: absolute;
        width: 50%;
        height: 40rem;
        background-color: aqua;
        border-radius: 15px;
        margin: 5% 0 0 10%;
    }

    .right_side {
        display: flex;
        flex-direction: column;

        .carrosel_side_image {
            position: absolute;
            width: 30%;
            height: 10rem;
            background-color: rgb(255, 0, 0);
            border-radius: 15px;
        }

        .carrosel_side_image:nth-child(1) {
            margin-top: 8%;
        }

        .carrosel_side_image:nth-child(2) {
            margin-top: 18%;
        }

        .carrosel_side_image:nth-child(3) {
            margin-top: 28%;
        }
    }
}